.idea/
.idea*

/nbproject
/nbproject/*

compress-g2/question.md
compress-g2/package-lock.json
compress-g2/node_modules/*
compress-g2/pushFile/
compress-g2/yarn.lock

file-systems/~uploads
file-systems/~uploads/*
file-systems/uploads/*
file-systems/node_modules/*
file-systems/package-lock.json
file-systems/yarn.lock

test.js

react-app-type/dist*
react-app-type/node_modules*

nest-app-type/dist*
nest-app-type/node_modules*