html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

ul,
li {
    list-style-type: decimal;
}

li {
    font-size: 14px;
    line-height: 24px;
}