{# <!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <ul>
            {% for item in chunks -%}
                {% if (path) %}
                    <li>
                        <a href="/uploads/{{path}}{{item}}">{{item}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/getfilelist/{{item}}">{{item}}</a>
                    </li>
                {% endif %}
            {%- endfor %}
        </ul>
    </body>
</html> #}

{% extends "root.njk" %}

{% block header %}
    <title>{{ title }}</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if (path) %}
        <div class="btn btn-pink" onclick="javascript:history.go(-1);">
            <span class="btn-child">返回上一级</span></div>
    {% else %}
        <div class="btn btn-pink">
            <a class="btn-child" href="/">返回首页</a>
        </div>
    {% endif %}
    <ul class="list">
        {% for item in chunks -%}
            {% if (path) %}
                <li>
                    <a href="/uploads/{{path}}{{item}}">{{item}}</a>
                </li>
            {% else %}
                <li>
                    <a href="/getfilelist/{{item}}">{{item}}</a>
                </li>
            {% endif %}
        {%- endfor %}
    </ul>
{% endblock %}