<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
	<ul>
        {% for item in chunks %}
        {% if(path) %}
        <li><a href="/uploads/{{path}}{{item}}" >{{item}}</a></li>
        {% else %}
        <li><a href="/getfilelist/{{item}}">{{item}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>