a:link,
a:visited {
    color: #447e9b;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #036;
}

a:focus {
    text-decoration: underline;
}

a img {
    border: none;
}

a.section:link,
a.section:visited {
    color: #fff;
    text-decoration: none;
}

a.section:focus,
a.section:hover {
    text-decoration: underline;
}