<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>UserList</title>
  <link href="/public/assets/styles/base.css" rel="stylesheet" />
</head>

<body>
    <div>
        <img src="/public/assets/icon/30px/payorder.png" alt="" />
    </div>
  <ul>
      {{#each data}}
      <li>
          <span>{{uuid}}</span>
          <span>{{name}}</span>
          <span>{{atime}}</span>
      </li>
      {{/each}}
  </ul>
  <script>
    //window.setInterval(function(){
    //  window.location.reload();
    //},200);
  </script>
</body>

</html>