{% extends "base/base.njk" %}

{% block header %}
    <title>上传文件</title>
    <link href="https://cdn.bootcss.com/mdui/0.4.1/css/mdui.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/mdui/0.4.1/js/mdui.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
{% endblock %}
{% block stylesheet %}
    <style>
        #progressListContainer {
            margin-top: 20px;
        }
        #progressListContainer li {
            list-style: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-col-md-12">
                <div>
                    <h2>文件上传：</h2>
                    <button class="mdui-btn mdui-ripple mdui-color-pink-accent" onclick="handleActiveFileInput()">上传文件</button>
                    <ul id="progressListContainer" class="mdui-list"></ul>
                </div>
                <div>
                    <input type="file" id="fileInput" style="display: none;" onchange="handleFileInputChange()">
                </div>
            </div>
            <div class="mdui-col-md-12">
                <h2>上传结果：<a href="" id="imgUrlLink" target="_blank"></a>
                </h2>
                <div id="imgShowContainer"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/javascripts/libs.js"></script>
    <script src="/javascripts/upload-sequence.js"></script>
{% endblock %}